.app{
    overflow: hidden;

}
.header_nav{
    display: flex;  
    justify-content: space-between;      
}
.header__title{
    flex: 2;
    color: #76A95F;
    font-size: 2.4rem;
}
.header__list{
    display: flex;
    justify-content: space-between;
    flex: 1;
    align-items: center;
}
.header__list-item{
    list-style: none;
    font-size: 1.4rem;
}
.header__icon{
    flex: 1;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.header__mobile-bars{
    margin-left: 15px;
}
/* body */

.form__login,
.form__register{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

.title_dn{
    margin: 0;
    padding: 0;
}
.app__contai{
    overflow: hidden;
}
.app_cont{
    width: 100%;
}
.backgroud{
     background-image: url(./assets/img/bg.png);
     height:600px;
     background-size: cover;
}
.form__login-password{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
input {
    background-color: aliceblue;
    border-radius: 6px;
    height: 34px;
}
.Email_titel{
    margin-top: 20px;
}

.container{
    display: flex;
    align-items: center;
    
}
.btn_item{
    display: flex;
    justify-content: space-between;
}
.input_{
    margin: 10px 0;;
}
.btn,
.btn_dk{
    max-width: 120px;
    background-color: #F1F3F1; /* Green */
    border: 1px solid #68CE3A;
    color: #76A95F;
    padding: 10px 22px;
    border-radius: 6px;
    display: inline-block;
    font-size: 16px;

}
.line{
    border: 1px solid black;
    margin-top: 15px;
}
.btn_dk{
    position: relative;
    left: 130px;
}
.click_dk{
    color: #68CE3A;
}
.footer_Login{
    display: flex;
    margin-top: 10px;
    align-items: center;
}
.footer__list{
    flex: 1;
    display: flex;
    flex-direction: row-reverse;
}

.footer-item{
    list-style: none;
    font-size: 1.2rem;
    margin-right: 10px;
}

